version: "3"
services:
    nginx:
        deploy:
          replicas: 1
          restart_policy: 
            condition: on-failure
        build: nginx
        image: programmerq/scaletest:nginx
        ports:
            - "80:80"
        depends_on:
            - web
        restart: unless-stopped
    web:
        deploy:
          replicas: 
          restart_policy: 
            condition: on-failure
        build: web
        image: programmerq/scaletest:web
        restart: unless-stopped
